# Security Settings
SECRET_KEY=your_secret_key_here
DEBUG=True

# Database Settings
DB_NAME=diet_hospital
DB_USER=root
DB_PASSWORD=your_database_password_here
DB_HOST=127.0.0.1
DB_PORT=3306

# Other Settings
ALLOWED_HOSTS=127.0.0.1,localhost
